.main-visual {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.main-visual::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top,
			rgba(13, 49, 87, 1) 0%,
			rgba(13, 49, 87, 1) 20%,
			rgba(13, 49, 87, 0.5) 40%,
			rgba(0, 0, 0, 0) 60%);
	z-index: 1;
}

.main-visual-text {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
	z-index: 2;
}

.main-visual h1 {
	font-family: Paperozi;
	font-size: clamp(5rem, 6vw, 7rem);
	font-weight: 700;
	letter-spacing: -0.02em;
}